@model YHRSys.Models.Location

@{
    ViewBag.Title = "Location Update";
}

<h2>Location Update</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Location update form</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.locationId)
        @Html.HiddenFor(model => model.Timestamp)

        <div class="form-group">
            @Html.LabelFor(model => model.name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.locNumber, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.locNumber, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.locNumber)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.source, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.source, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.source)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextArea("description", new { rows = 3, columns = 40, @class = "form-control" })
                @Html.ValidationMessageFor(model => model.description)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
