@model YHRSys.Models.Reagent

@{
    ViewBag.Title = "Reagent Details";
}

<h2>Details</h2>

<div>
    <h4>Reagent</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.measurementId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.measurements.name) (@Html.DisplayFor(model => model.measurements.uom))
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.reOrderLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.reOrderLevel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.createdBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.extendCreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.createdDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.createdDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.updatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.extendUpdatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.updatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.updatedDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.reagentId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
