@model YHRSys.Models.PartnerActivity

@{
    ViewBag.Title = "Edit Partner Activity";
}

<h2>Edit Partner Activity</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Partner Activity</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.partnerActivityId)
        @Html.HiddenFor(model => model.Timestamp)

        <div class="form-group">
            @Html.LabelFor(model => model.partnerId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("partnerId", String.Empty)
                @Html.ValidationMessageFor(model => model.partnerId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.giverId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("giverId", String.Empty)
                @Html.ValidationMessageFor(model => model.giverId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.reagentId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("reagentId", String.Empty)
                @Html.ValidationMessageFor(model => model.reagentId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.reagentQty, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.reagentQty, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.reagentQty)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.userId, "Officer-in-Charge", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("userId", String.Empty)
                @Html.ValidationMessageFor(model => model.userId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.activityDate, "Activity Date", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.activityDate, new { @class="form-control datecontrol" })
                @Html.ValidationMessageFor(model => model.activityDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.backStopping, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.backStopping, new { rows=2, columns=40, @class = "form-control" })
                @Html.ValidationMessageFor(model => model.backStopping)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tcPlantletsGiven, new { @class = "control-label col-md-2", title = "TC Plantlets Given" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.tcPlantletsGiven, new { @class = "form-control", title = "TC Plantlets Given", placeholder = ".. TC Plantlets Given" })
                @Html.ValidationMessageFor(model => model.tcPlantletsGiven)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.bioreactorplantsGiven, new { @class = "control-label col-md-2", title = "Bioreactor Plants Given" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.bioreactorplantsGiven, new { @class = "form-control", title = "Bioreactor Plants Given", placeholder = ".. Bioreactor Plants Given" })
                @Html.ValidationMessageFor(model => model.bioreactorplantsGiven)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tubersGiven, new { @class = "control-label col-md-2", title = "Tubers Given" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.tubersGiven, new { @class = "form-control", title = "Tubers Given", placeholder = ".. Tubers Given" })
                @Html.ValidationMessageFor(model => model.tubersGiven)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.seedsGiven, new { @class = "control-label col-md-2", title = "Seeds Given" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.seedsGiven, new { @class = "form-control", title = "Seeds Given", placeholder = ".. Seeds Given" })
                @Html.ValidationMessageFor(model => model.seedsGiven)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tcPlantletsAvailable, new { @class = "control-label col-md-2", title = "TC Plantlets Available" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.tcPlantletsAvailable, new { @class = "form-control", title = "TC Plantlets Available", placeholder = ".. TC Plantlets Available" })
                @Html.ValidationMessageFor(model => model.tcPlantletsAvailable)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tibPlantletsAvailable, new { @class = "control-label col-md-2", title = "TI Plantlets Available" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.tibPlantletsAvailable, new { @class = "form-control", title = "TI Plantlets Available", placeholder = ".. I Plantlets Available" })
                @Html.ValidationMessageFor(model => model.tibPlantletsAvailable)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tubersAvailable, new { @class = "control-label col-md-2", title = "Tubers Available" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.tubersAvailable, new { @class = "form-control", title = "Tubers Available", placeholder = ".. Tubers Available" })
                @Html.ValidationMessageFor(model => model.tubersAvailable)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.seedsAvailable, new { @class = "control-label col-md-2", title = "Seeds Available" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.seedsAvailable, new { @class = "form-control", title = "Seeds Available", placeholder = ".. Seeds Available" })
                @Html.ValidationMessageFor(model => model.seedsAvailable)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
