@model PagedList.IPagedList<YHRSys.Models.Partner>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Partners";
}

<h2>Partners</h2>

<p>
    @Html.ActionLink("Create New", "Create")

    @using (Html.BeginForm("Index", "Partner", FormMethod.Post, new { @class = "form-inline", role = "form" }))
    {
        <div class="form-group">
            @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control input-mini", placeholder = "Search phrase goes here ..." })
        </div>;
        <div class="form-group">
            @Html.TextBox("SearchStartCreatedDate", ViewBag.StartCreatedDateFilter as string, new { @class = "form-control datecontrol input-mini", placeholder = "Added date start range .." })
        </div>;
        <div class="form-group">
            @Html.TextBox("SearchEndCreatedDate", ViewBag.EndCreatedDateFilter as string, new { @class = "form-control datecontrol input-mini", placeholder = "Added date end range ..." })
        </div>;
        <button class="btn btn-primary" type="submit">Search!</button> <button class="btn btn-success" type="button" onclick="clearForm();">Clear!</button>
    }
</p>
<div class="table-responsive">
    <table class="table">
        @if (Model.PageCount > 0)
        {
        <tr>
            <th>
                @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter, currentStartDateFilter = ViewBag.CurrentStartDateFilter, currentEndDateFilter = ViewBag.CurrentEndDateFilter })
            </th>
            <th>
                @Html.ActionLink("Contact Address", "Index", new { sortOrder = ViewBag.ContactSortParm, currentFilter = ViewBag.CurrentFilter, currentStartDateFilter = ViewBag.CurrentStartDateFilter, currentEndDateFilter = ViewBag.CurrentEndDateFilter })
            </th>
            <th>
                Phone No
            </th>
            <th>
                Email Address
            </th>
            <th>
                Web Url
            </th>
            <th>
                CreatedBy
            </th>
            <th>
                @Html.ActionLink("CreatedOn", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter, currentStartDateFilter = ViewBag.CurrentStartDateFilter, currentEndDateFilter = ViewBag.CurrentEndDateFilter })
            </th>
            <th></th>
        </tr>
        }
        else
        {
        <tr>
            <td colspan="8">
                <em>No records found!</em>
            </td>
        </tr>
        }
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @String.Concat(item.contactAddress + ", " + ((!item.contactCity.IsEmpty()) ? item.contactCity + ", " : "") + ((!item.contactState.IsEmpty()) ? item.contactState + ", " : "") + ((!item.contactCountry.IsEmpty()) ? item.contactCountry : ""))
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.phoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.emailAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.webAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.extendCreatedBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.createdDate)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.partnerId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.partnerId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.partnerId })
                </td>
            </tr>
        }

    </table>
    <br />
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index",
                        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, currentStartDateFilter = ViewBag.CurrentStartDateFilter, currentEndDateFilter = ViewBag.CurrentEndDateFilter }))

</div>