@model YHRSys.Models.tblInventory

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>tblInventory</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.inventoryId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.inventoryId)
                @Html.ValidationMessageFor(model => model.inventoryId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.reagentId, "reagentId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("reagentId", String.Empty)
                @Html.ValidationMessageFor(model => model.reagentId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.quantity, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.quantity)
                @Html.ValidationMessageFor(model => model.quantity)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.stock, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.stock)
                @Html.ValidationMessageFor(model => model.stock)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.stockDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.stockDate)
                @Html.ValidationMessageFor(model => model.stockDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.stockUserId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.stockUserId)
                @Html.ValidationMessageFor(model => model.stockUserId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.initialStock, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.initialStock)
                @Html.ValidationMessageFor(model => model.initialStock)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.createdBy, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.createdBy)
                @Html.ValidationMessageFor(model => model.createdBy)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.createdDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.createdDate)
                @Html.ValidationMessageFor(model => model.createdDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.updatedBy, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.updatedBy)
                @Html.ValidationMessageFor(model => model.updatedBy)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.updatedDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.updatedDate)
                @Html.ValidationMessageFor(model => model.updatedDate)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
