@model YHRSys.Models.Partner

@{
    ViewBag.Title = "Create Partner";
}

<h2>Create Partner</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.contactAddress, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.contactAddress, new { rows=2, columns=4, @class="form-control" })
                @Html.ValidationMessageFor(model => model.contactAddress)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.contactCity, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.contactCity, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.contactCity)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.contactState, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.contactState, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.contactState)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.contactCountry, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.contactCountry, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.contactCountry)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.phoneNumber, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.phoneNumber, new { @class = "form-control", placeholder="e.g. 803-111-1234" })
                @Html.ValidationMessageFor(model => model.phoneNumber)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.emailAddress, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.emailAddress, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.emailAddress)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.webAddress, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.webAddress, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.webAddress)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.geoLongitude, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.geoLongitude, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.geoLongitude)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.geoLatitude, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.geoLatitude, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.geoLatitude)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
