@model YHRSys.Models.tblPartner

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>tblPartner</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.partnerId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.partnerId)
                @Html.ValidationMessageFor(model => model.partnerId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.name)
                @Html.ValidationMessageFor(model => model.name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.contactAddress, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.contactAddress)
                @Html.ValidationMessageFor(model => model.contactAddress)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.phoneNumber, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.phoneNumber)
                @Html.ValidationMessageFor(model => model.phoneNumber)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.emailAddress, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.emailAddress)
                @Html.ValidationMessageFor(model => model.emailAddress)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.webAddress, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.webAddress)
                @Html.ValidationMessageFor(model => model.webAddress)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.geoLongitude, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.geoLongitude)
                @Html.ValidationMessageFor(model => model.geoLongitude)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.geoLatitude, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.geoLatitude)
                @Html.ValidationMessageFor(model => model.geoLatitude)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.createdBy, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.createdBy)
                @Html.ValidationMessageFor(model => model.createdBy)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.createdDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.createdDate)
                @Html.ValidationMessageFor(model => model.createdDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.updatedBy, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.updatedBy)
                @Html.ValidationMessageFor(model => model.updatedBy)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.updatedDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.updatedDate)
                @Html.ValidationMessageFor(model => model.updatedDate)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
