@model YHRSys.Models.Activity

@{
    ViewBag.Title = "Delete Activity";
}

<h2>Delete Activity</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Activity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.varietyId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.variety.FullDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.activityDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.activityDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.activityDefinitionId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.activityDefinition.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.location.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.location.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.typeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mediumPrepType.typename)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quality)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quality)%
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.createdBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.extendCreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.createdDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.createdDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.updatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.extendUpdatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.updatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.updatedDate)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
