@model IEnumerable<YHRSys.Models.MediumPrepType>

@{
    ViewBag.Title = "Medium Prep Types";
}

<h2>Medium Prep. Type</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.typename)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.createdBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.createdDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.updatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.updatedDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.typename)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.extendCreatedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.createdDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.extendUpdatedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.updatedDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.typeId }) |
            @Html.ActionLink("Details", "Details", new { id=item.typeId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.typeId })
        </td>
    </tr>
}

</table>
