@model YHRSys.Models.ActivityDefinition

@{
    ViewBag.Title = "Activity Definition Details";
}

<h2>Activity Definition Details</h2>

<div>
    <h4>Activity Definition</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.createdBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.extendCreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.createdDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.createdDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.updatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.extendUpdatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.updatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.updatedDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.activityDefinitionId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
