@model YHRSys.Models.VarietyDefinition

@{
    ViewBag.Title = "Variety Definition Details";
}

<h2>Variety Definition Details</h2>

<div>
    <h4>Variety Definition</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.createdBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.extendCreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.createdDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.createdDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.updatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.extendUpdatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.updatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.updatedDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.varietyDefinitionId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
@if(Model.varieties.Count()>0){
    <div class="table-responsive">
        <h2>Related Varieties</h2>
        <table class="table">
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Sample No
                </th>
                <th>
                    Officer-In-Charge
                </th>
                <th>
                    Test Date
                </th>
                <th>
                    Species
                </th>
                <th>
                    Location
                </th>
                <th>
                    CreatedBy
                </th>
                <th>
                    CreatedOn
                </th>
            </tr>
            @foreach (var item in Model.varieties)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.varietyDefinition.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.sampleNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.testDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.species.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.location.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.extendCreatedBy)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.createdDate)
                    </td>
                </tr>
            }
        </table>
    </div>
}