@model YHRSys.Models.Location

@{
    ViewBag.Title = "Location Details";
}

<h2>Location Details</h2>

<div>
    <h4>Details of selected location</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.locNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.locNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.source)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.source)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.createdBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.extendCreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.createdDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.createdDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.updatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.extendUpdatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.updatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.updatedDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.locationId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
@if (Model.LocationUsers.Count() > 0)
{
    <div class="table-responsive">
        <h2>Related Officers-In-Charge</h2>
        <table class="table">
            <tr>
                <th>
                    Location
                </th>
                <th>
                    Officer-In-Charge
                </th>
                <th>
                    Enrolled Date
                </th>
                <th>
                    Exit Date
                </th>
                <th>
                    Status
                </th>
                <th>
                    Created By
                </th>
                <th>
                    Created Date
                </th>
            </tr>

            @foreach (var item in Model.LocationUsers)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.location.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        @if (item.startDate != null)
                        { @Html.DisplayFor(modelItem => item.startDate)}
                    </td>
                    <td>
                        @if (item.endDate != null)
                        { @Html.DisplayFor(modelItem => item.endDate)}
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.extendCreatedBy)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.createdDate)
                    </td>
                </tr>
            }
        </table>
    </div>
}

@if (Model.Activities.Count() > 0)
{
    <div class="table-responsive">
        <h2>Related Activities</h2>
        <table class="table">
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Variety
                </th>
                <th>
                    Location
                </th>
                <th>
                    Type
                </th>
                <th>
                    Quality
                </th>
                <th>
                   Quantity
                </th>
                <th>
                    Activity Date
                </th>
                <th>
                    Description
                </th>
            </tr>
            @foreach (var item in Model.Activities)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.activityDefinition.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.variety.FullDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.location.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.mediumPrepType.typename)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.quality)%
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.activityDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.description)
                    </td>
                </tr>
            }
        </table>
    </div>
}