@model IEnumerable<YHRSys.Models.tblVariety>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sampleNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.repUser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.testDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.releaseStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.resistance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.storability)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.poundability)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.species)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.uniformity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.stability)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.distinctness)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.value)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.locationId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.userId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.createdBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.createdDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.updatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.updatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblActivity.name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sampleNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.repUser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.testDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.releaseStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.resistance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.storability)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.poundability)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.species)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.uniformity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.stability)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.distinctness)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.value)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.locationId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.userId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.createdBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.createdDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.updatedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.updatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblActivity.name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.varietyId }) |
            @Html.ActionLink("Details", "Details", new { id=item.varietyId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.varietyId })
        </td>
    </tr>
}

</table>
