<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />-->
    <title>@ViewBag.Title - Yam High Ratio Propagation System</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Yam High Ratio Propagation System", "Index", "Home", null, new { @class = "site-logo" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="/" id="Who-we-are" class="dropdown-toggle" data-toggle="dropdown">YIIFSWA <span class="caret"></span></a>
                        <ul class="dropdown-menu" aria-labelledby="download" id="menu">
                            @Html.Partial("_SiteMenuList")
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" id="manage" class="dropdown-toggle" data-toggle="dropdown">Registration<span class="caret"></span></a>
                        <ul class="dropdown-menu" aria-labelledby="download">
                            <li>@Html.ActionLink("Locations", "Index", "Location")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Location OiC", "Index", "LocationUser")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Units of Measurement", "Index", "Measurements")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Internal Items", "Index", "Reagent")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Medium Prep Types", "Index", "MediumPrepType")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Activity Definitions", "Index", "ActivityDefinition")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Variety Definitions", "Index", "VarietyDefinition")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Species", "Index", "Species")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" id="actions" class="dropdown-toggle" data-toggle="dropdown">Actions <span class="caret"></span></a>
                        <ul class="dropdown-menu" aria-labelledby="download">
                            <li>@Html.ActionLink("Varieties", "Index", "Variety")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Variety Process Flow", "Index", "VarietyProcessFlow")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Activities", "Index", "Activity")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Inventory/Stocking", "Index", "Inventory")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Internal Items Usage", "Index", "InternalReagentUsage")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Barcode Scan", "Index", "Scanner")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Publish Contents", "Index", "SiteContent")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Activity Workplans", "Index", "ActivityWorkplan")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Weekly Activity Logs", "Index", "WeeklyActivityLog")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Activity Achievements", "Index", "ActivityAchievement")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" id="partners" class="dropdown-toggle" data-toggle="dropdown">Partners <span class="caret"></span></a>
                        <ul class="dropdown-menu" aria-labelledby="download">
                            <li>@Html.ActionLink("Partners", "Index", "Partner")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Partner Contacts", "Index", "PartnerContact")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Partner Activities", "Index", "PartnerActivity")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" id="manage" class="dropdown-toggle" data-toggle="dropdown">Admin<span class="caret"></span></a>
                        <ul class="dropdown-menu" aria-labelledby="download">
                            <li>@Html.ActionLink("Users", "Index", "Account")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Groups", "Index", "Groups")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Permissions", "Index", "Roles")</li>
                        </ul>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <div class="container body-content">
        <div class="col-md-12">
            @RenderBody()
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Yam High Ratio Propagation System</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

